@font-face {
	font-family: 'MaterialIcons-Regular';
	src: url('./MaterialIcons-Regular.ttf?8ot508') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.material-icons {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'MaterialIcons-Regular' !important;
	font-size: 24px;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: 'liga';
	-moz-font-feature-settings: 'liga=1';
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
